
      <div class="page-header subscribe-line subscribe-line-transparent" style="background-image: url('./assets/img/camboriu1.jpg')">
        <div class="filter"></div>
        <div class="content-center">
          <div class="container">
            <div class="row">
              <div class="col-md-8 ml-auto mr-auto text-center">
                <div class="title-brand">
                     <div class="angular-logo" style="margin-bottom: -2%">
                    <img src="../../assets/img/bgC - Home.png" alt="" style="width:106% ;  box-shadow: none">
                  </div>
                </div>
                <h1 class="presentation-title" style="margin-bottom: 0px ; margin-top:0px">C - Home</h1>
                <h4 class="presentation-subtitle" style="margin-bottom: 0px ; margin-top:0px">Investimentos</h4>
              </div>
            </div>
          </div>
        </div>
      </div>

  <div class="section section-white">
      <div class="container">
<div class="row">
    <div class="col-md-8 ml-auto mr-auto text-center">
      <h2 class="title" style="font-weight: bold; color:black">Oportunidades C - Home</h2>
      <h5 class="description" style="font-weight: bold ; color:black ;"> Aconselhamento profissional para fornecer um serviço de acordo com sua necessidade.
         .</h5>
    </div>
  </div>

        <h2 class="title text-center">Encontre o que você está procurando.</h2>
        <div class="row">
          <div class="col-md-7">
              <div class="card card-profile" data-background="image" style="background-image: url('../../assets/img/vcp/temp2/12.jpg')">
                <div class="card-body">
                <h6 class="card-category">
                  <i class="fa fa-newspaper-o"></i> Casas - Apartamentos
                </h6>
                <a  >
                  <h3 class="card-title" style="font-weight: bold">Aluguéis Temporários
                    </h3>
                </a>
                <p class="card-description">
                A maior oferta de apartamentos temporários em Córdoba. Temos mais de 100 apartamentos mobiliados para sua escolha</p>
                <div class="card-footer">
                  <div class="author">
                    <a >
                        <span>Ver Más</span>

                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5">
            <div class="card" data-background="image" style="background-image: url('../../assets/img/vcp/temp2/13.jpg')">
              <div class="card-body">
                <h6 class="card-category">
                  <i class="fa fa-newspaper-o"></i>Casas - Departamentos</h6>
                <a  >
                  <h3 class="card-title" style="font-weight: bold">Alquiler Anual</h3>
                </a>
                <p class="card-description">
                  Encuentra la mejor oferta inmobiliaria de alquiler casas Anual 											</p>
                <div class="card-footer">
                  <div class="author">
                    <a  >
                        <span>Ver Más</span>

                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
              <div class="card" data-background="image" style="background-image: url('../../assets/img/vcp/temp2/14.jpg')">
                <div class="card-body">
                <h6 class="card-category">
                  <i class="fa fa-newspaper-o"></i>Sitios - Rurales</h6>
                <a  >
                  <h3 class="card-title" style="font-weight: bold">Terrenos</h3>
                </a>
                <p class="card-description">
                   Pensás en construir tu casa y buscas invertir exitosamente en un terreno, llegaste al sitio correcto											</p>
                <div class="card-footer">
                  <div class="author">
                    <a  >
                        <span>Ver Más</span>

                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
              <div class="card" data-background="image" style="background-image: url('../../assets/img/vcp/temp2/15.jpg')">
                <div class="card-body">
                <h6 class="card-category">
                  <i class="fa fa-newspaper-o"></i> Casas - Departamentos</h6>
                <a  >
                  <h3 class="card-title" style="font-weight: bold">Venta</h3>
                </a>
                <p class="card-description">
                  Si estás pensando comprar tu casa y buscas invertir exitosamente ,hacé click aquí.											</p>
                <div class="card-footer">
                  <div class="author">
                    <a >
                        <span>Ver Más</span>

                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
              <div class="card" data-background="image" style="background-image: url('../../assets/img/vcp/temp2/16.jpg')">
                <div class="card-body">
                <h6 class="card-category">
                  <i class="fa fa-newspaper-o"></i>Camboriú</h6>
                <a  >
                  <h3 class="card-title" style="font-weight: bold ; font-size:12px">Oportunidades</h3>
                </a>
                <p class="card-description">
                No desaproveche estas oportunidades únicas y realice una excelente inversión.											</p>
                <div class="card-footer">
                  <div class="author">
                    <a  >
                        <span>Ver Más</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<!--Section: Products v.2-->
<section class="section section-white">
  <div class="row">
      <div class="col-md-6">
        <blockquote class="blockquote float-left bq-primary">
          <h3 class="bq-title">{{translate.data["BESTPRODUCTS"] | translate}}</h3>
        </blockquote>
      </div>
      <div class="col-md-6">
        <a class="btn btn-gray float-right" [routerLink]="[ '/#' ]">{{translate.data["VIEWALL"] |
          translate}}</a>
      </div>
    </div>

    <div *ngIf="loading">
      <app-card-loader [loop]="4" [height]="500"></app-card-loader>
    </div>

    <owl-carousel *ngIf="!loading" [options]="options" [items]="bestBrazil" [carouselClasses]="['owl-theme', 'row', 'sliding']">
      <!--First column-->
      <div class="item" style="padding:20px" *ngFor="let product of bestBrazil;let i = index">
        <div class=" mb-r">

          <!--Card-->
          <div class="card card-profile">

            <!--Card image-->
            <a [routerLink]="['/products/product', product.$key]">
              <div class="view overlay hm-white-slight">
                <img [src]="product.productImageUrl" class="img-fluid" alt="" width="360px" height="640px">
                <a>
                  <div class="mask waves-effect waves-light" mdbRippleRadius></div>
                </a>
              </div>
            </a>
            <!--/.Card image-->

            <!--Card content-->
            <div class="card-body text-center no-padding">
              <!--Category & Title-->
              <a href="" class="text-muted">
                <h5>{{ product.productCategory }}</h5>
              </a>
              <h5 class="card-title">
                <strong>
                  <a [routerLink]="['/products/product', product.$key]">{{ product.productName }}</a>
                </strong>
              </h5>

              <!--Description-->
              <p class="card-text">{{ product.productDescription }}
              </p>

              <!--Card footer-->
              <div class="card-footer">
                <span class="left">U$D {{ product.productPrice }}</span>
                <span class="right">
                  <a placement="top" mdbTooltip="Agregar a favoritos" container="body">
                    <i class="fa fa-heart"></i>
                  </a>
                </span>
              </div>
            </div>
            <!--/.Card content-->
          </div>
          <!--/.Card-->
        </div>
        <!--/First column-->
      </div>
    </owl-carousel>

</section>

