<br>
<div class="container" style="margin-top:8% ;" >
  <div class="row">
    <div class="col-sm-4">
      <div class="product-image">
        <div class="view hm-zoom z-depth-2" style="cursor: pointer">
          
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery> 
        </div>
        <!-- <div class="" style="margin-top:15px">
          <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Precio</h6>
              </div>

              <span class="text-muted" style="color:green !important ; font-weight: bold">   {{product.productSeller}}{{product.productPrice}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Operación: </h6>
              </div>
              <span class="text-muted"> {{product.productQuatity}}</span>
            </li>
          </ul>
          <button class="btn btn-primary" (click)="addToCart(product)">Agregar</button>
        </div> -->
      </div>
    </div>
    <div class="col-sm-8">
      <div class="product-detail">
        <h5 class="product-head">Detalle del Producto:</h5>
        <table class="table" cellspacing="0" style="max-height: 28px">
          <tbody>
            <tr>
              <th scope="row">Nombre del Producto</th>
              <td>{{product.productName}}</td>
            </tr>
            <tr>
              <th scope="row">Medidas</th>
              <td>{{product.productMedidas}}</td>
            </tr>
            <tr>
              <th scope="row">Material</th>
              <td>{{product.productMaterial}}</td>
            </tr>
            <tr>
              <th scope="row">Color</th>
              <td>{{product.productColor}}</td>
            </tr>
           
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
