<div class="cd-section section-white" id="testimonials">
<div class="testimonials-1 section-image" style="background-image: url('assets/img/realstate.jpg')">
        <div class="container">

            <div class="space-top"></div>
            <div class="row">
                    <div class="card card-testimonial">
                        <div class="card-icon">
                            <i class="fa fa-quote-right" aria-hidden="true"></i>
                        </div>
                        <div class="card-body">
                            <p class="card-description" style="font-size:16px ; color:black">
                                "Ser líderes en el mercado inmobiliario, trabajando con &eacute;tica, honrad&eacute;z, capacitaci&oacute;n, dinamismo y f lexibilidad, actuando con profesionalismo en el camino de la excelencia, proyectándonos y creciendo con éxito junto a nuestros inversores sobre la base de la confianza, la seriedad  y  el prestigio , en la búsqueda de maximizar el valor de sus inversiones y la satisfacción de sus necesidades."
                            </p>
                            <div class="card-footer">
                                <h4 class="card-title">Ezequiel Mazzotta</h4>
                                <h6 class="card-category" style="margin-bottom: 6%; margin-top: 1%;">@emazzotta</h6>
                                <div class="card-avatar">

                              <div class="angular-logo">
                                  <img src="./assets/img/bgC - Home.png" alt="" style="width: 50% ;  box-shadow: none">
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
