<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="error-template">
        <h1>
          Oops!</h1>
        <h2>
          404 Page Not Found</h2>
        <div class="error-details">
            Lo sentimos, ha ocurrido un error, ¡No se encontró la página solicitada!
          </div>
        <div class="error-actions">
          <a href="/" class="btn btn-primary btn-lg">
            <span class="glyphicon glyphicon-home"></span>
            Volver a la Tienda </a>
          <a href="/" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-envelope"></span> Soporte/Contacto </a>
        </div>
      </div>
    </div>
  </div>
</div>
