<div class="wrapper">
    <div class="header-3">
       
     <div class="page-carousel">
            <!-- <div class="filter"></div> -->
           
                
                    <div class="page-header" style="background-image: url('./assets/img/chome/img4.jpg'); background-size: cover;">
                        <div class="filter" style="opacity: 0.5 !important ;"></div>
                        <!-- <div class="content-center">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6 text-left">
                                        <h1 class="title">C-HOME</h1>
                                        <h5>Now you have no excuses, it's time to surprise your clients, your competitors, and why not, the world. You probably won't have a better chance to show off all your potential if it's not by designing a website for your own agency or web studio.</h5>
                                        <br />
                                        <div class="buttons">
                                            <a href="javascript:void(0)" class="btn btn-danger btn-round  btn-lg">
                                                Read More
                                            </a>
                                            <a href="javascript:void(0)" class="btn btn-neutral btn-link btn-just-icon">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                            <a href="javascript:void(0)" class="btn btn-neutral btn-link btn-just-icon">
                                                <i class="fa fa-facebook-square"></i>
                                            </a>
                                            <a href="javascript:void(0)" class="btn btn-neutral btn-link btn-just-icon">
                                                <i class="fa fa-get-pocket"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                
                
                </div>
            </div>
    
 
  </div> 
  
<!--     *********     BLOGS 4      *********      -->
<div class="blog-4">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                       
                        <div class=" card-body">
                          <blockquote class=" blockquote blockquote-primary mb-0">
                           <cite title="C·HOME">C-HOME</cite>
                            <footer class=" blockquote-footer">
                              <p>
                                Las colecciones C Home se caracterizan por tener sus bases en diseños actualizados de clásicos a temporales. Se parte de conceptos de diseño de muebles y ambientaciones armónicos que generan una experiencia de placer al habitar estos espacios.
                            </p>
                            </footer>
                          </blockquote>
                        
                      </div>
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-plain card-blog text-center">
                    <div class="card-image">
                        <a [routerLink]="['/products/all-products']">
                            <img class="img img-raised" src="assets/img/chome/1.jpg" />
                        </a>
                    </div>
                    <div class="card-body">
                        <!-- <h6 class="card-category text-warning">Estilo</h6> -->
                        <h3 class="card-title">
                            <a href="javascript:void(0)">Catálogo</a>
                        </h3>
                        <p class="card-description">
                            Conocé nuestro catálogo y vení a nuestro estudio que nuestros profesionales te harán el mejor diseño de interiores. Trabajo llave en mano.
                        </p>
                  </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-plain card-blog text-center">
                    <div class="card-image">
                        <a href="javascript:void(0)">
                            <img class="img img-raised" src="assets/img/chome/2.jpg" />
                        </a>
                    </div>
                    <div class="card-body">
                        <!-- <h6 class="card-category text-info">Elegancia</h6> -->
                        <h3 class="card-title">
                            <a href="javascript:void(0)">Ambientaciones</a>
                        </h3>
                        <p class="card-description">
                            Conocé nuestras ambientaciones y nuestros servicios de asesoramiento personalizado para ayudarte a diseñar espacios especiales para vos.
                        </p>
                    </div>
                </div>
            </div>
        
        <div class="col-md-4">
            <div class="card card-plain card-blog text-center">
                <div class="card-image">
                    <a href="javascript:void(0)">
                        <img class="img img-raised" src="assets/img/chome/3.jpg" />
                    </a>
                </div>
                <div class="card-body">
                    <!-- <h6 class="card-category text-info">Decoración</h6> -->
                    <h3 class="card-title">
                        <a href="javascript:void(0)">Decoración</a>
                    </h3>
                    <p class="card-description">
                        Te ofrecemos también artículos de decoración para que completes todas tus ambientaciones! Pasá por el local y te asesoramos!
                    </p>
                </div>
            </div>
        </div>
    </div>
    
        <div class="row">
            <div class="col-md-6">
                <div class="card card-plain card-blog text-center">
                    <div class="card-image">
                        <a href="javascript:void(0)">
                            <img class="img img-raised" src="assets/img/chome/4.jpg" />
                        </a>
                    </div>
                    <div class="card-body">
                        <!-- <h6 class="card-category text-danger">Vanguardia</h6> -->
                        <h3 class="card-title">
                            <a href="javascript:void(0)">Enamorate</a>
                        </h3>
                        <p class="card-description">
                            Conocé nuestro catálogo y tentate con diseños y ambientaciones que mejorarán tu calidad vida.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-plain card-blog text-center">
                    <div class="card-image">
                        <a href="javascript:void(0)">
                            <img class="img img-raised" src="assets/img/chome/5.jpg" />
                        </a>
                    </div>
                    <div class="card-body">
                        <!-- <h6 class="card-category text-success">Ambientaciones</h6> -->
                        <h3 class="card-title">
                            <a href="javascript:void(0)">Conocenos</a>
                        </h3>
                        <p class="card-description">
                            Acercate a nuestro local y disfruta de la mejor atención y asesoramiento para descubrir eso que tanto estas buscando para tus ambientes.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="separator"></div> -->

<div class="subscribe-line subscribe-line-transparent" style="background-image: url('assets/img/chome/img4.jpg')">
    <div class="container">
         <div class="row">
            <div class="col-md-9 col-sm-8">
                <h3 class="card-title">
                    <a href="javascript:void(0)">Descubri nuestro catálogo</a>
                </h3>
                <!-- <form class="">
                    <div class="form-group">
                        <input type="text" value="" class="form-control" placeholder="Ingresa tu correo...">
                    </div>
                </form> -->
            </div>
            <!-- <div class="col-md-3 col-sm-4">
                <button type="button" class="btn btn-warning btn-block btn-round">Suscribite!</button>
            </div> -->
        </div>
    </div>
</div>
<footer class="footer footer-black footer-big">

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 ml-auto mr-auto">
                <div class="img-raised">
                    <img src="./assets/img/logo.png" style="width: 30%;">
                </div>
            </div>
            <div class="col-md-6 offset-md-2 col-sm-8">
                <div class="links">
                    <ul>
                        <li>
                            <a href="javascript:void(0)">
                                Inicio
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                Catálogo
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                Corporativo
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                               Prensa
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                               Contacto
                            </a>
                        </li>
                    </ul>
                    <hr />
                    <div class="copyright">
                        <div class="pull-left">
                            © Desarrollado por <a href="javascript:void(0)">
                                DME Digital                             </a> 
                        </div>
                        <div class="pull-right">
                            <ul>
                                <li>
                                    <a href="javascript:void(0)">
                                        Términos
                                    </a>
                                </li>
                                |
                                <li>
                                    <a href="javascript:void(0)">
                                        Condiciones
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</footer>