<!--Section: Products v.2-->
<section class="section section-white">


	<!--Section: Products v.2-->
				<div class="row">
						<div class="col-md-8 ml-auto mr-auto text-center">
							<h2 class="title" style="font-weight: bold">Oportunidades C - Home</h2>
							<h5 class="description" style="font-weight: bold ; color:black ;">Contámos con asesoramiento profesional para brindarle un servicio acorde a su necesidad.
								 .</h5>
						</div>
					</div>
	
					<div class="blog-5">
							<div class="container">
								<h2 class="title text-center">Encuentre lo que está buscando</h2>
								<div class="row">
										<div class="col-md-12">
											<div class="card" data-background="image" style="background-image: url('./assets/img/camboriu1.jpg')">
												<div class="card-body">
												<h6 class="card-category">
													<i class="fa fa-newspaper-o"></i>Alquiler Temporarios </h6>
												<a  [routerLink]="['/loginbra']">
													<h3 class="card-title" style="font-weight: bold">C - Home Brazil</h3>
												</a>
												<p class="card-description">
												La más amplia oferta de alquiler de Departamentos Temporarios en Camboriú. Contamos con más de 100 departamentos amoblados para su elección.											</p>
												<div class="card-footer">
													<div class="author">
															<a  [routerLink]="['/loginbra']">
																<span>Ver Máis</span>
	
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-7">
											<div class="card" data-background="image" style="background-image: url('../../assets/img/vcp/temp/5.jpg')">
												<div class="card-body">
												<h6 class="card-category">
													<i class="fa fa-newspaper-o"></i> Venta - Alquiler </h6>
												<a  [routerLink]="['/products/all-products', 'Casa']">
													<h3 class="card-title" style="font-weight: bold">Casas</h3>
												</a>
												<p class="card-description">
												La más amplia oferta de alquiler de Casas Temporarios en Cordoba. Contamos con más de 100 Casas amoblados para su elección.											</p>
												<div class="card-footer">
													<div class="author">
														<a [routerLink]="['/products/all-products', 'Casa']">
																<span>Ver Más</span>
	
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-5">
										<div class="card" data-background="image" style="background-image: url('../../assets/img/vcp/temp2/4.jpg')">
											<div class="card-body">
												<h6 class="card-category">
													<i class="fa fa-newspaper-o"></i>Venta - Alquiler</h6>
												<a  [routerLink]="['/products/all-products' , 'Depto']">
													<h3 class="card-title" style="font-weight: bold">Departamentos</h3>
												</a>
												<p class="card-description">
													Encuentra la mejor oferta inmobiliaria de alquiler casas Anual 											</p>
												<div class="card-footer">
													<div class="author">
														<a  [routerLink]="['/products/all-products', 'Depto']">
																<span>Ver Más</span>
	
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-3">
											<div class="card" data-background="image" style="background-image: url('../../assets/img/vcp/temp2/3.jpg')">
												<div class="card-body">
												<h6 class="card-category">
													<i class="fa fa-newspaper-o"></i>Sitios - Rurales</h6>
												<a  [routerLink]="['/products/all-products', 'Lote']">
													<h3 class="card-title" style="font-weight: bold">Terrenos</h3>
												</a>
												<p class="card-description">
													 Pensás en construir tu casa y buscas invertir exitosamente en un terreno, llegaste al sitio correcto											</p>
												<div class="card-footer">
													<div class="author">
														<a  [routerLink]="['/products/all-products' , 'Lote']">
																<span>Ver Más</span>
	
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
											<div class="card" data-background="image" style="background-image: url('../../assets/img/vcp/temp2/2.jpg')">
												<div class="card-body">
												<h6 class="card-category">
													<i class="fa fa-newspaper-o"></i> Casas - Departamentos</h6>
												<a  [routerLink]="['/products/all-products']">
													<h3 class="card-title" style="font-weight: bold">Duplex</h3>
												</a>
												<p class="card-description">
													Si estás pensando comprar tu casa y buscas invertir exitosamente ,hacé click aquí.											</p>
												<div class="card-footer">
													<div class="author">
														<a [routerLink]="['/products/all-products']">
																<span>Ver Más</span>
	
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-3">
											<div class="card" data-background="image" style="background-image: url('../../assets/img/vcp/temp2/1.jpg')">
												<div class="card-body">
												<h6 class="card-category">
													<i class="fa fa-newspaper-o"></i>Camboriú</h6>
												<a  [routerLink]="['/products/all-products']">
													<h3 class="card-title" style="font-weight: bold ; font-size:12px">Oportunidades</h3>
												</a>
												<p class="card-description">
												No desaproveche estas oportunidades únicas y realice una excelente inversión.											</p>
												<div class="card-footer">
													<div class="author">
														<a  [routerLink]="['/products/all-products']">
																<span>Ver Más</span>
														</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
	
						<div class="row">
								<div class="col-md-6">
									<blockquote class="blockquote float-left bq-primary">
										<h3 class="bq-title">{{translate.data["BESTPRODUCTS"] | translate}}</h3>
									</blockquote>
								</div>
								<div class="col-md-6">
									<a class="btn btn-gray" [routerLink]="[ '/products/all-products' ]">{{translate.data["VIEWALL"] |
										translate}}</a>
								</div>
							</div>
	
							<div *ngIf="loading">
								<app-card-loader [loop]="4" [height]="500"></app-card-loader>
							</div>
	
							<owl-carousel *ngIf="!loading" [options]="options" [items]="bestProducts" [carouselClasses]="['owl-theme', 'row', 'sliding']">
								<!--First column-->
								<div class="item" style="padding:20px" *ngFor="let product of bestProducts;let i = index">
									<div class=" mb-r">
	
										<!--Card-->
										<div class="card card-profile">
	
											<!--Card image-->
											<a [routerLink]="['/products/product', product.$key]">
												<div class="view overlay hm-white-slight">
													<img [src]="product.productImageUrl" class="img-fluid" alt="" width="360px" height="360px">
													<a>
														<div class="mask waves-effect waves-light" mdbRippleRadius></div>
													</a>
												</div>
											</a>
											<!--/.Card image-->
	
											<!--Card content-->
											<div class="card-body text-center no-padding">
												<!--Category & Title-->
												<a href="" class="text-muted" style="margin-bottom: 1px">
														<h3 style="font-size:12px !important">{{ product.productCategory }}</h3>
													</a>
												<a href="" class="text-muted" style="margin-top: 1px">
													<h5 style="font-weight: bold">{{ product.productQuatity }}</h5>
												</a>
												<h5 class="card-title">
													<strong>
														<a [routerLink]="['/products/product', product.$key]"  style="font-size:18px !important">{{ product.productName }}</a>
													</strong>
												</h5>
	
												<!--Description-->
												<p class="card-text">{{ product.productDescription }}
												</p>
	
									      <!--Card footer-->
										  <div class="card-footer">

												<span class="left" style="font-size:14px ; font-weight: 400">  {{ product.productSeller }}{{ product.productPrice }}</span>
												<span class="right">
												  <a placement="top" mdbTooltip="Agregar a favoritos" container="body" (click)="addFavourite(product)">
													<i  style="font-size:13px !important;" class="fa fa-heart"></i>
												  </a>
												  <a placement="top"mdbTooltip="Agregar al Carro" container="body" (click)="addToCart(product)">
													<i  style="font-size:13px !important; font-weight: bold" class="fa fa-shopping-cart"></i>
												  </a>
											 
												</span>
											  </div>
											</div>
											<!--/.Card content-->
										</div>
										<!--/.Card-->
									</div>
									<!--/First column-->
								</div>
							</owl-carousel>
	
					</section>
					<app-footer></app-footer>
	